body{
  font-family: Courier;
  background-color: #f6f3fa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ded4ed' fill-opacity='0.81' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


.container h1 {
  color: #a4a7a5;
  text-align: center;
  padding-top: 50px;
}
.titre_zoom {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}
.container p {
    width: 80vw;
    text-align: justify;
    margin: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-right: 20px;
  width: 100%;
}

/* nav ul:after {
  content : '';
  display: block;
  clear:both;
} */

nav ul li{
  margin:10px;
}

nav ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color:#000000;
  border: 1px #ccc solid;
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 0.2s;
}

.page_accueil {
  display: flex;
}

.page_projets {
  display: flex;
}

.container_w_aside{
  flex:1;
  margin:auto;
  overflow: auto;
}

aside {
  width: 20%;
}
.liste_techno {
  margin: 3em 2em 0 2em;
}

.liste_techno ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.liste_techno ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color:#000000;
  border: 1px #ccc solid;
  border-radius: 5px;
  background-color: #ccced4;
  transition-property: transform;
  transition-duration: 0.2s;
  margin: 5px 0 5px 0;
}

.liste_techno h3{
  text-align: center;
  margin-bottom: 20px;
}

.affichage_techno {
  border: 1px #ccc solid;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #ccced4;
  padding: 10px;
  height: 60px;
  width: auto;
}

.titre_zoom {
  text-align: center;
  margin-bottom: 2em;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

  @-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
  }

  @keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
  }

nav ul li a:hover{
  background-color:#ccc;
  transform: scale(1.2, 1.2);
}
.bouton_admin{
  color: #ffffff;
  background-color: #ccc;
}

.bouton_admin:hover{
  background-color: #ffffff;
  color: #ccc;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:#ccc;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: 5em;
}

.social i {
  color: grey;
}
.social i:hover{
  color: darkgrey;
}

.img_pt {
  height: 100px;
  width: auto;
  border-radius: 10px;
}

.vitrine {
  background-color: #fffffa;
  display: flex;
  width: 60vw;
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-evenly;
}

.page_contact {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* main {
  height: 100%;
  position: relative;
} */
/* .col-6 {
  float:left;
  box-sizing: border-box;
  width: 30%;
} */
/*

h1 {
  background: #000;
  color:#fff;
  padding: 1em;
  font-size: 40px;
}





.majuscule {
  text-transform: uppercase;
}

.row:after {
  content: ' ';
  display: block;
  float: none;
  clear: both;
}

.col-6 {
  float:left;
  box-sizing: border-box;
  width: 50%;
}

.pr-20 {
  padding-right: 20px;
}

.col-6 img {
  width: 100%;
}

.texte {
  font-size: 13px;
  line-height: 20px;
} */
